<div class="container  mt-1 p-0">
<div class="row">

  <div class="col-md-6 p-1">
    <div class="card mb-1 shadow-sm">
      <div class="card-body">
        <p class="card-title">
          <strong class="card-title">Title:</strong>
          <%= @article.title %>
        </p>

        <p class="card-text">
          <strong class=""card-text>Text:</strong>
          <%= @article.text %>
        </p>
      </div>
    </div>

   <div class="shadow-sm p-1 mt-1">

     <%= render 'comments/form' %>

     <%= link_to 'Back', articles_path, :class => "btn btn-lg btn-outline-info mt-1"  %>

  </div>
  <div class="col-md-6 p-1 shadow-sm">
    <h2 class="card-header mt-1">Comments</h2>
    <%= render @article.comments %>
  </div>

</div>






</div>

